Source: coggml
Section: science
Priority: optional
Maintainer: OpenCog Developers <opencog@googlegroups.com>
Build-Depends: debhelper-compat (= 13),
               cmake (>= 3.12),
               libcogutil-dev (>= 2.1.0), libboost-dev, cmake (>= 3.12)
Standards-Version: 4.6.0
Homepage: https://opencog.org/
Vcs-Browser: https://github.com/cogpy/occ
Vcs-Git: https://github.com/cogpy/occ.git

Package: coggml
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
         libcogutil3
Description: CogGML self-aware cognitive microkernel with shard architecture
 This package is part of the OpenCog AGI framework and AGI-OS architecture.
